.story {
  width: 75%;
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  margin-bottom: 10rem;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.5);
  border-radius: 3px;
  position: relative;
  font-size: $default-font-size;
  transform: skewX(-12deg);



  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
  @include respond(phone) {
    transform: skewX(0deg);
  }

  &__shape {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    @include respond(phone) {
      
      transform: translateX(-3rem) skewX(0deg);
    }
  }

  &__image {
    height: 100%;
    transition: all 500ms;
    transform: scale(115%) translateX(-13%);
    backface-visibility: hidden;
  }
  &__text {
    transform: skewX(12deg);
    @include respond(phone) {
      
      transform: skewX(0deg);
    }
  }

  &__caption {
    position: absolute;
    text-align: center;
    color: $color-white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    font-size: 1.7rem;
    transition: all 500ms;
    backface-visibility: hidden;
  }
  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  &:hover &__image {
    transform: scale(100%) translateX(-13%);
    filter: blur(3px) brightness(80%);
  }
}
